* {
    font-family: 'Lato', sans-serif;
}

.dis-none {
    display: none;
}

.dis-block {
    display: block;
}

.bg-green {
    background-color: green;
}

.pt-10 {
    padding-top: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.focus-out:focus {
    outline: none;
    outline: 1px solid rgb(8, 83, 168);
    border-radius: 5px;
}

#set-list {
    margin: 0;
    padding: 0;
}

#set-list .list {
    list-style: none;
    background-color: green;
    margin-bottom: 5px;
    padding: 10px 15px;
    width: 200px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    -webkit-box-shadow: rgb(0, 0, 0) 1px 2px 4px;
    box-shadow: rgb(0, 0, 0) 1px 2px 4px;
    cursor: pointer;
}

#set-list .list:hover {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: rgb(49, 44, 44);
    counter-reset: #fff;
}

.todo-box {
    border: 1px solid #eee;
    border-radius: 8px;
    display: block;
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;

}

.todo-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
}

.todo-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.todo-input,
.todo-button {
    display: block;
    padding: 12px;
    border: 1px solid rgb(206, 198, 198);
    border-radius: 5px;
}

.todo-input {
    width: 80%;
    background: transparent;
    margin-right: 10px;
}

.todo-button {
    background-color: rgb(12, 128, 196);
    color: #fff;
    font-size: 18px;
    padding: 12px 15px;
    width: 20%;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .todo-button {
        width: auto;
    }
}

.todo-button:hover {
    background-color: rgb(8, 83, 168);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.todo-item-list {
    padding-top: 30px;
}

.todo-item-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-item-li {
    border: 1px solid #eee;
    padding: 12px 15px;
    border-bottom: none;
}

.todo-item-li:last-child {
    border-bottom: 1px solid #eee;
}

::-moz-selection {
    color: #fff;
    background: rgb(8, 161, 207);
}

::selection {
    color: #fff;
    background: rgb(8, 161, 207);
}

.event-check {
    width: 100%;
    height: 300px;
    background-color: #b4b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-check h3 {
    font-size: 28px;
}

.delete-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 4px 8px;
    float: right;
}

header nav {
    display: flex;
    justify-content: flex-end;
    background-color: darkmagenta;
    padding: 15px 12px;
}

header nav .menu-area {
    margin-right: 3%;
}

header nav .menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

header nav .menu-area ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0px 5px;
    cursor: pointer;
}

.search-area input {
    display: block;
    padding: 6px;
    border: 1px solid rgb(206, 198, 198);
    border-radius: 5px;
}